* {
  box-sizing:border-box;
  margin: 0px;
}

body{
  margin-top: 48.67px;
}


.slideshow-container {
  max-width: 99%;
  position: relative;
  margin: auto;
  max-height: 400px;
}

.mySlides {
  display: none;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: rgba(0, 0, 0, 0.441);
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
}

.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.navbar {
  overflow: hidden;
  background-color: #333;
  position: fixed;
  z-index: 999;
  width: 100%;
  top: 0;
  display: flex;
  justify-content: space-around;
  padding-left: 20%;
  padding-right: 20%;
}

.navbar a { 
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  max-width:100px;
  width: 78.75px;
}

.navbar a:hover {
  background: #ddd;
  color: black;
  border-radius: 5px;
  width: 78.75px;
}

.title{
  color: white;
}

.textbox {
  display: flex;
  justify-content: center;
}