* {
  box-sizing:border-box;
  margin: 0px;
}

body{
  margin-top: 50px;
}

.MYnavbar {
  /* overflow: hidden; */
  background-color: #fa2e0e;
  position: fixed;
  z-index: 999;
  width: 100%;
  top: 0;
  display: flex;
  justify-content: space-around;
  padding-left: 20%;
  padding-right: 20%;
  height: 50px;
}

.MYnavbar a { 
  background-color: #fa2e0e;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 15px;
  max-width:100px;
  width: 78.75px;
}

.MYnavbar a:hover {
  background: #C5C6D0;
  color: black;
  border-radius: 5px;
  width: 78.75px;
  transform: scale(0.9);
  transition: all 0.5s ease-in-out;
}

.MYtitle{
  color: white;
  background-color: #fa2e0e;
}

.ctitle {
  font-size: 50px;
  font-weight: bold;
  border-bottom: solid;
  border-radius: 5px;
  border-color: #333;
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  height: 15%;
}

div#carouselExampleAutoplaying {
  margin-left: auto;
  margin-right: auto;
  border: 10px solid rgb(54, 126, 241);
}

.c {
  height: 110vh;
  width: 100%;
  background-color: rgb(54, 126, 241);
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-content: flex-start;
}

.d{
  background-color: #333;
  border: #333 5px solid;
}

.h {
  background-color: rgba(100, 100, 100, 0.678); 
  padding: 5px;
  background-size: 50px 100px;
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
  border-radius: 5px; 
}

.a {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  color: #f2f2f2;
  text-align: center;
  text-decoration: none;
  font-size: 15px;
  max-width:100px;
  border-radius: 5px;
}

.a:hover {
  background: #C5C6D0;
  color: black;
  border-radius: 5px;
  transform: scale(0.9);
  transition: all 0.5s ease-in-out;
}

.slides {
  margin-top: 10px;
}
