* {
    box-sizing: border-box;
    margin: 0px;
    height: fit-content;
    background-color: rgb(54, 126, 241);
}
  
body{
    margin-top: 48.67px;
    background-color: rgb(54, 126, 241);
}

.MYnavbar {
    /* overflow: hidden; */
    background-color: #fa2e0e;
    position: fixed;
    z-index: 999;
    width: 100%;
    top: 0;
    display: flex;
    justify-content: space-around;
    padding-left: 20%;
    padding-right: 20%;
    height: 50px;
  }
  
  .MYnavbar a { 
    background-color: #fa2e0e;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 15px;
    max-width:100px;
    width: 78.75px;
  }
  
  .MYnavbar a:hover {
    background: #C5C6D0;
    color: black;
    border-radius: 5px;
    width: 78.75px;
    transform: scale(0.9);
    transition: all 0.5s ease-in-out;
  }
  
  .MYtitle{
    color: white;
    background-color: #fa2e0e;
  }

.server {
    display: flex;
    justify-content: space-between;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 10%;
}

.years {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.year11 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.server a {
    background-color: #ffe2e2;
    display: flex;
    height: 50px;
    width: 100px;
    color: #333;
    text-align: center;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    margin: 5px;
    border-radius: 10px;
}

.server a:hover{
    background: #ddd;
    color: black;
    border-radius: 5px;
    text-align: center;
}

.text {
    display:flex;
    justify-content: center;
    align-content: center;
}
